<div class="row">

<div class="col-md-6 offset-md-3>">


  <div class="col-sm-12 text-center">

    <div class="input-group mt-5">
      <input class="form-control" type="text" #userInput placeholder="Enter city Name">
      <div class="input-group-append">
        <button class="input-group-text btn btn-outline-primary" (click)="getCity(userInput.value)">
          search
        </button>
      </div>

    </div>
    <br>
    <h5>Current weather and forecasts in your city ...</h5>
   <h2>Weather in <strong>{{weather.name}}, {{weather.sys.country}}</strong></h2>
  </div>

  <div class="col-sm-12">
    <span class="temp">
      <img src="assets/{{ weather.weather[0].icon}}.png" alt="01d.png">
      <strong>{{ (((weather.main.temp ) - 32)* 5 )/9 | number: '1.0-0'}}&#176;C</strong>
    <p class="text-uppercase font-italic font-weight-bold">
      {{ weather.weather[0].description}}
    </p>
    </span>
  </div>

  <table class="table table-light table-striped table-bordered table-sm">
    <tbody>
    <tr>
      <td>Humidity</td>
      <td>{{weather.main.humidity  }}%</td>
    </tr>

    <tr>
      <td>Pressure</td>
      <td>{{weather.main.pressure }} hpa</td>
    </tr>

    <tr>
      <td>Sunrise</td>
      <td>{{weather.sys.sunrise * 1000 | date:'H:m:s' }} </td>
    </tr>

    <tr>
      <td>Sunset</td>
      <td>{{weather.sys.sunset * 1000 | date:'H:m:s' }} </td>
    </tr>

    <tr>
      <td>Geo coords</td>
      <td>[{{weather.coord.lat }} ,{{weather.coord.lon }}] </td>
    </tr>

    </tbody>
  </table>

</div>
  <div class="col-md-6 offset-md-3>">

    <br><br><br><br>
  <agm-map [latitude]="lat" [longitude]="lon" style="height: 400px; width: 600px">
    <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
  </agm-map>
  </div>

</div>
